[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kitty5209
[access "refs/for/refs/*"]
	read = group user/kitty5209
	push = group user/kitty5209
	label-Code-Review = -2..+2 group user/kitty5209
	label-Verified = -1..+1 group user/kitty5209
	rebase = group user/kitty5209
	removeReviewer = group user/kitty5209
	submit = group user/kitty5209
[access "refs/heads/*"]
	read = group user/kitty5209
	create = group user/kitty5209
	push = +force group user/kitty5209
	pushMerge = group user/kitty5209
[access "refs/tags/*"]
	push = group user/kitty5209
	push = +force group user/kitty5209
